body {
  background-color: #abff2e33;
}

.flex_button {
  border-radius: 15px;
}

.type {
  border-radius: 4px;
  background-color: rgba(171, 255, 46, 0.2);
}

.statList{
  list-style-type: none;
}

.modalContentHeader {
  text-transform: capitalize;
}

.statHeading { 
  text-transform: capitalize;
}

.statHeadingHP { 
  text-transform: uppercase;
}

.smCardLead:hover {
  border-radius: 4px;
  background-color: #abff2e33;
  text-transform: capitalize;
}

.kanto {
  border: 1px solid;
  margin: 5px;
  opacity: 80%;
}

.other {
  margin: 5px;
}

.other:hover {
  opacity: 75%;
}

.kanto:hover {
  background-color: rgb(248, 237, 223);
  opacity: 100%;
  cursor: pointer;
}